<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTStreamer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TTStreamer.Settings>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeechVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeechRate" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeechGift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeechLike" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeechMember" serializeAs="String">
                <value>False</value>
            </setting>
        </TTStreamer.Settings>
    </userSettings>
</configuration>